.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20rem 1fr 1fr 1fr;
  
}
#clock {
  font-size: 9em;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.breakButtonContainer {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  
}

.breakButton {
  
  font-size: 2em;
  padding: 10px;
  border-radius: 7px;
  width: 100%;
  

  
}



img:hover {
  transform: scale(1.15);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
}

p {
  text-align: center;
  font-size: 2rem;
}

button:hover {
  transform: scale(1.05);
}
